<h1>Figures tab</h1>
<h1>Hi there! This figures</h1>
<%= @quotes.first.stock.name %>
<%= @quotes.first.stock.ticker %>
<ul>
  <% counter = 0 %>
  <% @quotes.each do |e| %>
    <% counter += 1 %>
    <li><%= counter %> <%= e.time_stamp %> | <%= e.high %> | <%= e.low %> <%= e.resolution %></li>
  <% end %>
</ul>
