<h1>Figures tab</h1>
<h1>Hi there! This figures</h1>
<%= @quotes.first.stock.name %>
<%= @quotes.first.stock.ticker %>
<ul>
  <% @quotes.each do |e| %>
    <li> <%= e.time_stamp %> | <%= e.high %> | <%= e.low %></li>
  <% end %>
</ul>
