<h1>Figures tab</h1>
<% high = @quotes.order("low DESC").limit(1).first.low / 100.0 %>
<% low = @quotes.order("low ASC").limit(1).first.low / 100.0 %>
<% start_price = @quotes.order("time_stamp ASC").limit(1).first.low / 100.0 %>
<% end_price =  @quotes.order("time_stamp DESC").limit(1).first.low / 100.0 %>
<ul>
  <li>Highest: <%= high.round(2) %>$</li>
  <li>Lowest: <%= low.round(2) %>$</li>
  <li>Start: <%= start_price.round(2) %>$</li>
  <li>End: <%= end_price.round(2) %>$</li>
  <li>Change form low to high: <%= (high - low).round(2) %>$</li>
  <li>Change from low to high(%): <%= ((high / low) * 100.0 - 100.0).round(2) %>%</li>
  <li>Change over time: <%= (end_price - start_price).round(2) %>$</li>
  <li>Change over time(%): <%= ((end_price / start_price) * 100.0 - 100.0).round(2) %>%</li>
</ul>

